body {
    margin: 0;
    background-image: url("Valley-sunset.gif");
    background-size: cover;
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas: 'verde vermelho'
    'amarelo azul';
    grid-gap: 10px;
   

    border-radius: 100%;
    width: 700px;
    height: 700px;
}

.blue {
    grid-area: azul;
    background-color: #03045e;
    border-bottom-right-radius: 100%;
}

.red {
    grid-area: vermelho;
    background-color: #d00000;
    border-top-right-radius: 100%;
}

.yellow {
    grid-area: amarelo;
    background-color: #ffba08;
    border-bottom-left-radius: 100%;
}

.green {
    grid-area: verde;
    background-color: #0ead69;
    border-top-left-radius: 100%;
}

.selected {
    opacity: 0.5;
}